<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/caab41a0-c949-42f4-97cf-6073509984e5/resourceGroups/konténer/providers/Microsoft.ContainerRegistry/registries/mydockerimages2024</ResourceId>
    <ResourceName>mydockerimages2024</ResourceName>
    <ResourceGroup>konténer</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://mydockerimages2024.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a6c03edd-25d5-4421-ad2c-661280b3a179</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>